header{
	clear: both;
}

p{
  width: 200px;
  height: 200px;
  float: left;
}
p#red{
  background-color: red;
}
p#blue{
  background-color: #6666A3;
}
p#green{
  background-color: green;
  clear: left;
}
p#pink{
  background-color: pink;
  clear: left;
}


footer{
  text-align: center;
  clear: both;
}