#wrapper{
  width: 900px;
  background-color: #9966FF;
}

#main header{
  padding-left: 10px;
  margin-bottom: 10px;
  border-top-width: 1px;
  border-top-color: #A6A6A6;
  border-top-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: #A6A6A6;
  border-bottom-style: dashed;
}


nav{
  width: 200px;
}
footer{
  height: 50px;
  text-align: center;
}
p#main{
	width: 400px;
	text-align: center;
	font-size: 24px;
}
aside{
  width: 250px;
} 

p#pad{
  padding: 10px 20px;
  width:400px;
  background-color: red;
}

p#pad2{
  padding: 10px 20px;
  width:300px;
  background-color: blue;
}


/*top padding is 10px,
right padding is 20px,
bottom padding is 30px,
left padding is 40px.
*/
p#pad3{
  padding: 10px 20px 30px 40px;
  width:200px;
  background-color: green;
}


p#mar{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

  background-color: pink;
}


footer{
  text-align: center;
}