/*
 * 		background: #4C3D4C;
 * 
 */
	#article02 a {
		border:0px solid #EAEAEA; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:trebuchet MS, sans-serif;
		background:#DEC9AC;
		color: #000000;
		font-size: 13px;
		size:100%;
		text-decoration: none;
		width:200px;			

	}
	.cl_lists{
	}
	
	a:hover {
		background:#fef09e;
	}