@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: none;
}

body {
	background: #eaf1f6;
}

hr {
	margin-top: 15px;
	margin-bottom: 10px;
}

div#content label{
	padding-right:20px;
}
.title_lv01{
	background: #c2d7eb;
	display: block;
}

/*
#title_lv01{
	background: #c2d7eb;
}
*/

div#container {
	width: auto;
	height: 100%;
}

div#header {
	text-align: center;
	height: 45px;
	background: #bfd3e2;
	border-bottom: 1px solid #000000;
}

h1.title {
	font-weight: bold;
	font-size: 20px;
	line-height: 50px;
	color: #000000;
}

div#content {
	width: auto;
	padding: 10px;
}

div#footer {
	width: auto;
	text-align: center;
	height: 45px;
	background: #222;
	border-top: 1px solid #555;
}
