<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="http://oceanfog3.mireene.com/FK01/plugin/jquery.mobile.pagination.css"/>

  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  <script src="http://oceanfog3.mireene.com/FK01/plugin/jquery.mobile.pagination.js"/>

  <script>
    jQuery(function(){

      function ajax(page){
        jQuery.ajax({
          url:    page,
          type:   "get",
          dataType: "text",
          timeout:  30000,
          success: function(data){
            jQuery('div#content-div').html("<div>" + data + "</div>");
          },

          error: function(xhr, textStatus, errorThrown){
            jQuery('div#content-div').html("<div>" + textStatus + "(HTTP-" + xhr.status
            + "/" + errorThrown + ")</div>" );
          }
        });
      }
    });
  </script>
</head>

<body>
  <!---------------
  - page1
  - address
  ----------------->
  <div data-role="page" id="address">
    <div data-role="header">
      <h2>Address</h2>
      <div data-role="navbar">
        <ul>
          <li><a href="#address" data-icon="home" class="ui-btn-active">Address</a></li>
          <li><a href="#accounting_information" data-icon="alert">acct info</a></li>
          <li><a href="#payment_transactions" data-icon="info">pmt trans</a></li>
        </ul>
      </div>
    </div>

    <div data-role="content">
      <ul data-role="pagination">
        <li class="ui-pagination-next"><a href="#accounting_information">next</a>

      </ul>

      <label>name</label>
      <input type="text" id="tf_name" value="ATNS" />

      <label>country</label>
      <input type="text" id="tf_country" value="KR"/>

      <!--
      <input type="button" value="ajax-test"/>
      <input type="button" value="404error"/>
      -->
      <br>이름과 국가를 입력하시고 위에 탭으로 이동해주세요.
      <div id="content-div">
      </div>
    </div>
      <%= B_BUKRS %>
      <%= B_LIFNR %>
      <%= B_KTOKK %>

    <div data-role="footer">
      here is foot
    </div>
  </div>

  <!--------------------------
  - page2
  - accounting_information
  ---------------------------->
  <div data-role="page" id="accounting_information">
    <div data-role="header">
      <h2>Acct Information</h2>
      <div data-role="navbar">
        <ul>
          <li><a href="#address" data-icon="home">Address</a></li>
          <li><a href="#accounting_information" data-icon="alert" class="ui-btn-active">acct info</a></li>
          <li><a href="#payment_transactions" data-icon="info">pmt trans</a></li>
        </ul>
      </div>
    </div>

    <div data-role="content">
      <ul data-role="pagination">
        <li class="ui-pagination-prev"><a href="#address">next</a>
        <li class="ui-pagination-next"><a href="#payment_transactions">next</a>
      </ul>

      <label>recon.account</label>
      <input type="text" id="tf_reconAcct" value="160000" />

      <label>Cash mgmnt group</label>
      <input type="text" id="tf_cashMgmntGroup" value="A1" />
      <br>recon계정과 cash management group을 입력하시고 위에 탭으로 이동해주세요.
    </div>

    <div data-role="footer">
    </div>
  </div>

  <!--------------------------
  - page
  - payment transactions
  ---------------------------->
  <div data-role="page" id="payment_transactions">
    <div data-role="header">
      <h2>Payment Transaction</h2>
      <div data-role="navbar">
        <ul>
          <li><a href="#address" data-icon="home">Address</a></li>
          <li><a href="#accounting_information" data-icon="alert">acct info</a></li>
          <li><a href="#payment_transactions" data-icon="info" class="ui-btn-active">pmt trans</a></li>
        </ul>
      </div>
    </div>

    <div data-role="content">
      <ul data-role="pagination">
        <li class="ui-pagination-prev"><a href="#accounting_information">next</a>
      </ul>

      <label>Payment Terms</label>
      <input type="text" id="tf_pmtTerms" value="0001" />
      <br>입력 후 아래 summit을 눌러주세요.
    </div>

    <div data-role="footer">
    </div>

  <!---------------------------
  - buttons
  ----------------------------->
    <a href="#" id="bu_summit" data-role="button"  data-icon="check">summit</a>

  </div>

</body>

<!---------------------------
- script
----------------------------->
<script>

function sendParameter(){
  var parameterData = new Array();

  jQuery("input[type='text']").each( function(index, domEle) {
    parameterData[index] = "&" + jQuery(this).attr('id') + "=" + jQuery(this).val();
  });

  var parameter = "";

  for (i = 0; i < jQuery("input[type='text']").size() ; i++ )
  {
    parameter = parameter + parameterData[i];
  }

  alert(parameter)
  location.href = "?OnInputProcessing(addVendor)" + parameter;
  //location.href = "OnInputProcessing(addVendor)"
}

jQuery(bu_summit).click( function(){
  sendParameter()
  alert( <%= message %> );
});

</script>


</html>