*{
	margin:0;
	padding:2px;
}

ul,li{
	list-style:none;
}

header, footer, nav, aside, section, article {
	display:block;	
}


body{
	text-align:center;
	color:#000;
	background:#EEF4FB;
}


div#wapper{
	text-align:left;
	width:1000px;
	margin:0 auto;
}


header, nav, footer{
	width:100%;
	color:#000000;
}

aside{
	width:24%;
	float:left;
}

section {
	margin-bottom:10px;
	width:74%;
	float:right;
}

header, footer, nav, aside, section{
	
	margin-bottom:10px;
	
}

header
{ 
	background: #bacfdf;
	color: #000000;
	height: 80px;}

nav
{
	position:static;
	background: #D2D8DD;
}

aside{
	background: #FFE291;
}


section
{  
	background: #cfdde8;
}
  

article {
	background-color: #E6EEF0;
	color: #000;
	width:90%;
	margin:10px;
	padding:5px;
}


footer
{
	clear:both;
	height:20px;
	background: #5478C8;
}

input[type=text]{
	background: #ffd965;
}

/*
 * colorset 01
 * background: #11282D;
 * background: #DEC9AC;
 * background:#776D53;
 * background: #CCA18B;
 * background: #A5C4BB
 */