*{ margin:0; padding:0;}
ul,li{list-style:none;}

header, footer, nav, aside, section, article {
	display:block;
}


body{ text-align:center; color:#FFF;  background:#776D53;}
div#wapper{ text-align:left; width:1000px; margin:0 auto; }


header, nav, footer{
width:100%;
color:#000000;
}

aside{
width:19%;
float:left;
}

section {
margin-bottom:10px;
width:80%;
float:right;
}

header, footer, nav, aside, section{
margin-top:10px;
}


footer {
clear:both;

}

header
{ 
	background: #11282D;
	color: #ffffff;
	height: 80px;}

nav
{position:static;
background: #DEC9AC;}

aside{
	background: #CCA18B;
}


section
{  background: #11282D;
	background: #A5C4BB;}
  

article {
background-color: #FAF1D5;
color: #000;
width:90%;
margin:10px;
}

article01{
		
}

#article02{
	float:left;
	width:251px;
	height:461px;
	background: #11282D;
}

#article03{
	float:left;
	width:50%;
	height:461px;
}

footer
{height:50px;
background: #A5C4BB;
background: #11282D;}
