


.bu_blue_typ01 {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffd965));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffd965 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffd965 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffd965 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffd965 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffd965 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffd965',GradientType=0);
    
    background-color:#ffec64;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    display:inline-block;
    color:#333333;
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    padding:4px 24px;
    text-decoration:none;
    
}
.bu_blue_typ01:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffd965), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffd965 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffd965 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffd965 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffd965 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffd965 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd965', endColorstr='#ffec64',GradientType=0);
    
    background-color:#ffd965;
}
.bu_blue_typ01:active {
    position:relative;
    top:1px;
}

.bu_google_red{
	border: 1px solid transparent;
	color: #fff;
	text-transform: uppercase;
	background: #d14836;
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	
	border-radius:5px;
	
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: none;
	padding: 0 8px;
	text-align: center;

}
