/*
#wapper{
	padding: 50px 0 0 0;
}


#toppest{
	position: fixed;
	background-color:#23487e;
	width:100%;
	height:50px;
}
*/

#div_mouseOver{
	float:left;
}

#div_remotController{
	position:absolute;
	top:50px;
    left:50px;
    
	width:300px;
	height:300px;
	background-color:#D2D8DD;
	
	border-color: #ADADAD;
	border-style: solid;
}

#div_bu_close{
	width:40px;
	height:40px;
	background-color:#FFE291;
}

h1{
	float:left;
	
}

