/*
 * 		background: #4C3D4C;
 * 
 */
	#div02 a {
		border:0px solid #EAEAEA; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:trebuchet MS, sans-serif;
		background:#DEC9AC;
		color: #000000;
		font-size: 13px;
		size:100%;
		text-decoration: none;
		width:200px;
		padding-left:0px;
		margin-left:5px;
	}
	
	#div02 a:hover {
		background:#fef09e;
	}