*{ margin:0; padding:0;}
ul,li{list-style:none;}

header, footer, nav, aside, section, article {
	display:block;
}


body{ text-align:center; color:#FFF;  background:#776D53;}
div#wapper{ text-align:left; width:1000px; margin:0 auto; }


header, nav, footer{
width:100%;
}

aside{
width:20%;
float:left;
}

section {
margin-bottom:10px;
width:70%;
float:right;
}

header, footer, nav, aside, section{
margin-top:10px;
}

footer {
clear:both;
/* asdie와 section을 float시켰기
째문에 그아래위치하도록 clear*/
}

header
{ 
	background: #11282D;
	color: #ffffff;
	height: 80px;}

nav{
	position:static;
	background: #DEC9AC;
	color:#000000;
	}

aside{
	background: #CCA18B;
}


section{
	width:80%;
	background: #11282D;
	background: #A5C4BB;
}
  

article {
background-color: #FAF1D5;
color: #000;
width:95%;
margin:10px;
}


footer
{height:50px;
background: #A5C4BB;
background: #11282D;}
