 p{
   font-size: 12px;
 }
 .red{
   color: red;
 }
 .blue{
   color: blue;
 }


 #small{
   font-size: 9px;
 }

  h1{
   color: green;
   font-size: 12px;
 }
  
  h2, h3, h4{
   color: red;
   font-size: 12px;
 }

p#le{ text-align: left; }
p#ri{ text-align: right; }
p#ce{ text-align: center; }
p#ju{ text-align: justify; }


ul{
  list-style-type: square;
}
ol{
  list-style-type: lower-alpha;
}



p{
  width: 300px;
  height: 300px;
  background-color: green;
}


