body {
	
}


header
{ background: #8B0073;
  width: 800px;
  height: 150px;}

nav
{width:800px;
background: #999966;}

section
{ float: left;
  width: 190px;
  height: 320px;
  padding: 0 15px 20px 15px;
  background: #EBC2D6;}
  .leftMenu{
  	
  }


article
{width:800px;
	height: 320px;
	background: #D1B2D1;}

footer
{width:800px;
height:50px;
	background: #3F353F;}
