<script type="text/javascript" src="calendar.js"> 

</script>

첫번째
<input onclick="calendar(this, startDate, 'yyyy-mm-dd')" readonly="readOnly" name="startDate" nbsp="nbsp" />


두번째
<body>
   <form>
       <input name="txtDate" />
       <input onclick="popUpCalendar(this, txtDate, 'yyyy-mm-dd');"/>  
   </form>
</body>

