
/*
 * menu
 */

ul#menu, ul#menu li{
	list-style:none;
	display: block;
	text-decoration: none;
	width:185px;
}


ul#menu{
	padding:5px 0px 0px 0px;
	
	display:block;
}


/* 1tier */
ul#menu li {
	background-color:#ffffff;
	padding:0px 0px 0px 0px;
	width:185px;
	border:0px solid #dddddd;
}

ul#menu li ul{
	/**/display:none;
	width:160px;
	padding: 0px 0px 0px 0px;
	
}

ul#menu li a{
	margin: 0px 0px 0px 0px;
	/*top rigth bottom left*/
	padding: 5px 0px 5px 15px;
	background-color:#ffffff;
	border-bottom:1px solid #dcdcdc;
	color:#666666;
	display: block;
	font: bold 12px/1.5em Verdana;
	text-decoration: none;
}

/* 2 tier */
ul#menu li ul li{
	padding:0px 0px 0px 0px;
	background-color:#eeeeee;
	width:175px;
}

ul#menu li ul li a{
	margin:0px 0px 0px 10px;
	padding:2px 0px 2px 15px;
	width:160px;
	border-bottom:1px solid #dddddd;
	background-color:#f4f4f4;
	font: normal 12px/1.5em Verdana;
	text-decoration: none;
}

/* 3 tier */
ul#menu li ul li ul{
	padding: 0px 0px 0px 0px;
}
ul#menu li ul li ul li {
	width:150px;
	background-color:antiquewhite;
}

ul#menu li ul li ul li a{
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 20px;
	width:155px;
	border-bottom:1px solid #eeeeee;
	background-color:#ddddff;
}





#section_docList #article_02 td{
	border:1px solid #aaaaaa;
	display:inline;
	background-color:#BACFDF;
	height:50px;
	padding: 5px 5px 5px 5px;
}

#section_docList td input[type=text]{
	border:0px solid #DDDDDD;
	display:inline;
	background:#ffffff;
	width:100px;
}

#section_docList #article_02{
	background-color:#D2D8DD;
}


#section_docList #article_03 table{
	display:block;
	border:1px solid #AAAAAA;
	border-radius:3px;
	min-width:700px;
	min-height:100px;
	border-spacing:0;
	border-collapse:collapse;
	
}

#section_docList #article_03 table tr{
	border:1px solid #D2D8DD;
}

#section_docList #article_03 table th{
	background-color:#D2D8DD;
	border:1px solid #444444;
	height:20px;
}

#section_docList #article_03 table td{
	background-color:#E6EEF0;
	border-bottom:1px solid #aaaaaa;
	border-left:1px solid #aaaaaa;
	border-right:1px solid #aaaaaa;
	
	min-width:85px;
	height:20px;
}


#section_home {
	/*top rigth bottom left*/
	padding: 100px 0px 0px 5px;
	max-width:830px;
	overflow:hidden;
}

#section_home #article_01{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#ffffff;
	height:210px;
	border:0px solid #eeeeee;
}



#section_home #article_01 div{
	float:left;
	margin: 0px 0px 0px 0px;
	
	border-radius:4px;
	border:0px solid #eeeeee;
	height:200px;
	min-width:100px;
}

#section_home #article_02 div{
	float:left;
	height:95px;
}


#section_home #article_01 #div_01{
	width:320px;	
}

#section_home #article_01 #div_02{
	width:500px;
}


#section_home #article_01 #div_01 div{
	margin: 0px 0px 0px 3px;
	border:1px solid #dddddd;
	border-radius:8px;
	width:200px;
}


#section_home #article_01 #div_01 #div_subject{
	position:static;
	margin:0px 10px 0px 0px;
	
	border:0px solid #aaaaaa;
	border-radius:4px;
	background-color:#ffffff;	
	width:250px;
	height:25px;
	
	font-size:15px;
	font-weight:bold;
	background:url('../images/home/bu_sub_01.png');
}

#section_home #article_01 #div_01 #div_square_01{
	float:left;
	background:url('../images/home/button_04.png');
	width:145px;
	height:170px;
}

#section_home #article_01 #div_01 #div_square_01 img{
	display:block;
	width:80px;
	height:80px;
}

#section_home #article_01 #div_01 #div_square_02{
	float:left;
	background:url('../images/home/button_05.png');
	width:145px;
	height:170px;
	background-color:azure;
}



#section_home #article_01 #div_02 #div_subject{
	position:static;
	display:block;
	margin: 0px 10px 0px 0px;
	border:0px solid #aaaaaa;
	border-radius:4px;
	background-color:#ffffff;	
	width:250px;
	height:25px;
	background:url('../images/home/bu_sub_02.png');
}

#section_home #article_01 #div_02 #div_square_01{
	float:left;
	width:480px;
	height:170px;
	border:1px solid #dddddd;
	background-color:azure;
	background:url('../images/home/button_06.png');
}


#section_home #article_01 #div_02 #div_square_01 div{
	border:0px solid #dddddd;
	width:145px;
	height:155px;
	margin: 5px 5px 5px 5px;
}

#section_home #article_01 #div_02 #div_square_01 div button{
	padding:0px 0px 0px 0px;
	background-color:#eeeeee;
	border-radius:10px;
	border:1px solid #cccccc;
	font-size:12px;
	width:130px;
	height:30px;
	margin: 5px 5px 5px 5px;
}

#section_home #div_square_01 p{
	margin: 0px 0px 0px 10px;
	font-size: 12px;
}


#section_home #article_02{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#ffffff;
	height:95px;
	border:0px solid #eeeeee;
	max-width:800px;
}


#section_home #article_02 div{
	width:380px;
	height:85px;
	border:0px solid #eeeeee;
}

#section_home #article_02 img{
	float:left;
}


#section_home #article_02 div #div_status_01{
	float:left;
	width:250px;
	height:15px;
	padding: 0px 0px 0px 10px;
	border-bottom:1px solid #444444;
	font-weight:bold;	
}

#section_home #article_02 div #div_status_02{
	float:left;
	width:270px;
	height:65px;
	
}

